*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
/* navbar */
/* carousel images */
#default-carousel {
  background: radial-gradient(transparent 0%, black);
  
}
#default-carousel .img-box {
  width: 100vw;
  height: 100vh;
  z-index: -1;  
}
#default-carousel .img-box img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
#default-carousel .img-box span {
  z-index: 100;
  width: auto;
  height: 35vh;
  text-align: center;
}
#default-carousel .img-box span:nth-child(2) {
  width: 40vw;
  height: 50vh;
}